<!-- header -->
<div class="header_spacer"></div>
<header class="header fixed-top">

    <!-- Top Bar -->
    <div class="topper container-fluid d-flex">
        <a href="tel:+4915123595397">
            <span id="info-phone">+49 (0) 151 23 59 53 97</span>
        </a>
        <a href="mailto:oliver.epper@mail.com">
            <span id="info-email">oliver.epper@gmail.com</span>
        </a>
        <a href="http://www.fb.com/oliver.epper" target="_blank" class="pr-2 ml-auto">
            <span class="fa fa-facebook"></span>
        </a>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ site.root | url }}/">
            <h1 class="logo_title">Oliver Epper</h1>
            <span class="logo_subtitle">Fully Qualified PGA Professional</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
            aria-expanded="false" aria-label="Navigation umschalten">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="menu" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                {% for item in bag('menu') %}
                <li class="nav-item">
                    <a class="nav-link sliding-link" href="{{ ('/') | url() + bag('menu')[item] }}"
                        data-target="{{ bag('menu')[item] }}">{{ item }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <!-- Navbar Ende-->
</header>